
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
/* loading */
.loading-container{
    
    background-color: #cababa;
   


}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    gap:5px;
    background-color: #000
;
}

.loading span{
    width: 2px;
    height: 20px;
       background-color: green;
      animation: scale  0.8s ease-in-out infinite 

}

.loading span:nth-child(1){
    background-color: blue;
    animation-delay: -0.8s;
}
.loading span:nth-child(2){
    background-color: yellow;
    animation-delay: -0.7s;


}
.loading span:nth-child(3){
    background-color: crimson;
    animation-delay: -0.6s;

}

.loading span:nth-child(4){
    background-color: blue;
    animation-delay: -0.5 ;

}
.loading span:nth-child(5){
    background-color: navy;
    animation-delay:  -0.4s ;

}





@keyframes scale {

    0% ,40% ,100%{
        transform: scaleY(0.07)
    }
    20%, 60%{
transform: scaleY(1);
    }
    
}