body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;

}
.space{
    width: 200px;
    height: 200px;
    position: relative;
}


.earth{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius:50%;


}

.orbit{
    width: 200px;
    height: 200px;
    position: absolute;
    /* background-color: blue; */
    transform: translate(-50%,-50%);
     /* transform-origin: 150px 0; */
    animation: orbit 5s linear infinite 

}

.moon{
    width: 30px;
    height: 30px;
    background-color: #ff884d;;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform:translate(-50% , -50%)
}

@keyframes orbit {
    0%{
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100%{
        transform: rotate(360deg) translate(-50%, -50%);
    }
    
}